body,
html {
  min-height: 100vh;
  background-color: #212529 !important;
  color: white !important;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0px 20px 20px 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.info-container img {
  width: 70px;
  height: 70px;
}

.index-container {
  padding: 0px 20px 20px 20px;
  height: 100%;
}

a {
  text-decoration: none;
}

#search-input {
  max-width: 400px;
}

.positive {
  color: rgb(14, 203, 129);
}

.negative {
  color: rgb(255, 97, 97) !important;
}

.stock-name {
  color: #d7d7d7;
}

.light-font {
  color: #f3f2f2;
}

.highlight {
  background-color: #fcd535;
  color: #181a20;
}

thead th {
  background-color: #0b0e11 !important;
  font-size: 0.8rem;
}

.previous-page {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  padding: 20px 20px 20px 20px;
  background-color: #212529 !important;
}

.previous-page a {
  color: white !important;
}

.company-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.company-title span {
  font-weight: bold;
  font-size: 1.4rem;
}

.company-price {
  font-size: 1.1rem;
}

.company-title img {
  margin-right: 15px;
}

.myChart {
  max-width: 800px;
  max-height: 500px;
}

.search-image {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.small-text {
  color: rgb(95, 95, 95);
  font-size: 0.8rem;
}

.marquee-container {
  padding: 10px;
  overflow: hidden;
}

.marquee-content {
  font-weight: bold;
  white-space: nowrap;
  -moz-animation: marquee 15s linear infinite;
  -webkit-animation: marquee 15s linear infinite;
  animation: marquee 15s linear infinite;
}

.marquee-content > span {
  margin-right: 25px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

#compare {
  display: flex;
  justify-content: space-between;
}

#compare-container {
  margin: 0px 0px 20px 0px;
  display: flex;
  flex-wrap: wrap;
}

#compare-link {
  white-space: nowrap;
  margin: 10px 0px 5px 0px;
  text-decoration: underline;
}

.compare-element {
  background-color: #fcd535;
  color: black;
  padding: 5px 0px 5px 10px;
  margin: 5px 10px 5px 5px;
}

.remove-compare-element {
  font-size: 1.1rem;
  color: rgb(36, 34, 34);
  padding: 10px 10px 10px 0px;
  margin-left: 5px;
  font-weight: bold;
}

.remove-compare-element:hover {
  opacity: 0.5;
  cursor: pointer;
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 575px) {
  .container-lg.container-xl {
    width: 100%;
  }
  .mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 576px) {
  .container-lg.container-xl {
    width: 75%;
  }
  .mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (min-width: 768px) {
  .container-lg.container-xl {
    width: 75%;
  }
  .main-container {
    max-width: max-content;
  }
}

@media only screen and (min-width: 1200px) {
  .container-lg.container-xl {
    width: 75%;
  }

  .main-container {
    max-width: 500px;
  }
}
