.previous-page {
  padding: 20px 20px 0px 20px;
}

a {
  text-decoration: none;
}

#info-container img {
  width: 70px;
  height: 70px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

body,
html {
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
}

#info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.company-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.company-title span {
  font-weight: bold;
  font-size: 1.4rem;
}

.company-price {
  font-size: 1.2rem;
}

.company-title img {
  margin-right: 15px;
}

#myChart {
  max-width: 800px;
  max-height: 500px;
}

.search-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.small-text {
  color: rgb(95, 95, 95);
  font-size: 0.8rem;
}
